@mixin button-bg($bg) {
  margin-left: 30px;
  background: $bg;
  transition: transform 0.2s ease-in-out;
  &:hover {
    background:darken($bg,8%);
    transform: scale(1.08);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration:none;
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #fff;
text-transform: uppercase;
width: 140px;
height: 40px;
border-radius: 6px;
 }
 
 .btnGreen {
    @include button-bg(#4ccc65);
 }