@mixin button-bg($bg) {
  background: $bg;
  transition: transform 0.2s ease-in-out;
  padding-left: 32px;
  padding-right: 32px;
  &:hover {
    transform: scale(1.08);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4ccc65;
  width: 104px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid #4ccc65;
}

.btnGreen {
  @include button-bg(#ffffff);
}
