@mixin button-bg($bg) {
  background: $bg;
  transition: transform 0.2s ease-in-out;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
    transform: scale(1.08);
  }
  &:active {
    background:darken($bg,25%);

  } 
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
color: #FFFFFF;
width: 90px;
height: 35px;
border-radius: 6px;
gap: 4px;
 }
 
 .btnGreen {
    @include button-bg(#4ccc65);
 }