body {
  margin: 0;
  background-color: #FFFFFF;
  font-size: 16px;
  font-family: 'Cera Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  
}
@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../src/assets/fonts/CeraPro/CeraPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
