.wrapper{
  margin-top: 12px;
  .container {
    width: 100%;
    height: 450px; 
    background:  linear-gradient(rgba(245, 245, 245) 0%, rgba(245, 245, 245) 100%);
    .leftSection{
      width: 50%;
    }
  }
}